.menu {
    display: flex;
    padding-right: 1.5em;
    margin-top: 1.5em;
  
    .icon {
      margin-right: 1.5em;
      width: 23px;
      height: 23px;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    .profileIcon {
      margin-top: 4.5px;
      margin-left: 5px;
    }
  }

  
@media only screen and (max-width: 500px) {
    .menu {
        margin-top: 0.5em;
        .profileIcon {
            display: none;
            border: none;
        }
    }
}